:root {
  --pr-color: #fff;
  --second-color: #0a0a0a;
  --color-1-1: #be2518;
  --color-1-2: #ff6b4f;
  --cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
  --fz-big: 60px;
  --pd: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  font-weight: 800;
  /* font-feature-settings: "pnum" on, "lnum" on; */
}

body {
  background: var(--second-color);
}

.wrap {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 20px;
  z-index: 1;
}

.content {
  width: 100%;
  height: auto;
}

.spacer {
  width: 100%;
  height: 50vh;
  background: #ddd;
}

.work {
  display: flex;
}

.work__left {
  position: relative;
  width: 54%;
  z-index: 2;
  /* outline: 1px solid red; */
}

.work__text {
  width: 80%;
  margin: auto;
}

.work__info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* outline: green solid 1px; */
}

.work__num {
  display: block;
  line-height: 0.9;
  text-align: right;
  font-size: 18px;
  transform: skewX(-20deg);
  color: var(--color-1-1);
}

.title {
  text-align: right;
  font-size: 70px;
  text-transform: uppercase;
  color: var(--pr-color);

  .stroke {
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
  }
}

.work__link {
  display: block;
  width: 365px;
  margin-top: 50px;
  margin-left: auto;
  padding: 18px 0;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--pr-color);
  letter-spacing: 4px;
  border: 2px solid var(--color-1-1);
  border-radius: 30px;
  transition: 0.4s;

  &:hover {
    background: var(--color-1-1);
    color: var(--color-1-2);
    letter-spacing: 6px;
  }
}

.work__right {
  width: 46%;
  height: auto;
}

.work__right-bl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
}

.work__photo {
  width: 40vw;
  height: 30vw;
  position: relative;
}

.work__photo-item {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor:pointer;
  border-radius: 80px;
  overflow: hidden;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
